body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image:url(https://ak8.picdn.net/shutterstock/videos/31218658/thumb/1.jpg);
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica;
    letter-spacing: 0.02em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased; 
    
   }
   nav{
           background-color: #086486;
                       padding: 20px 10px;
                   }
                   
                   nav ul{
                   max-width: 960px;
                   margin: 0 auto;
                   padding: 0;
                   }
                   nav li{
                       list-style-type: none ;
                       display: inline-block;
                       margin: 0 10px 0 0;
                   }
                   nav a{
                       display: block;
                       padding: 10px;
                       font-size: 18px;
                       color: bisque;
                       background: rgb(32, 113, 142);
                       text-decoration: none;
                   }
   
   main ,header{
       max-width: 960px;
       margin: 30px auto;
       padding: 0 10px;
       color:aliceblue;
   }
   
   a{
       color: #84d8f7;
   }
   .img{
       float: left;
       margin-left: 5px;
       margin-top: -19px;
        }
     .username{
       margin-left: 380px;
      color: aliceblue;
          }
          div{
             display: inline;
          }