

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>SSD Assignment 2</title>
        <link href="home.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/">HomePage</a></li>
                
                   <% if (!user) { %>
                    <li><a href="/login">Login</a></li>
                     <% } else { %>
                        <li><a href="/logout">Logout</a></li>
                        <li class='username'> <%= user.displayName %></li>
                        <li> <img class="img" src= <%= user.photos[0].value %> alt="Profile" height="60" width="60"> <br/></li>
                     <% } %>
            </ul>
        </nav>
        <header>
            
        </header>
        <main>
          <h2>  <p><% if (!user) { %>
           
              <div>  <p><h1>Welcome! to SSD assignment 2</h1>
                    This assignment is based on Oauth 2.<br/>
                    <p>OAuth 2 is an authorization framework that enables applications to obtain limited access 
                    to user accounts on an HTTP service, such as Facebook, GitHub, and DigitalOcean and google. 
                    It works by delegating user authentication to the service that hosts the user account, 
                    and authorizing third-party applications to access the user account.
                    OAuth 2 provides authorization flows for web and desktop applications, and mobile devices.</p>
                    <h2> please <a href="/login">log in here</a>. to get more details</p></h2>
             </div>
            <% } else { %>
                <br/>
                <br/>
                <p>Hello ..., <%= user.displayName %> . </p>
                <p> Read more about Oauth2 and view your profile <a href="/profile">Click here</a>.</p>
            <% } %></p>
            
		</h2>
        </main>
    </body>
</html>